#mainNavbar {
    font-size: 1.5ren;
    font-weight: 100;
}

#mainNavbar .navbar-brand {
    color: #EA1C2C;
    size: 1.5ren;
    font-weight: 100;
}

#mainNavbar .nav-link:hover{
    color: white;
}

#mainNavbar .nav-link {
    color: #EA1C2C;
}

#menuItem {
    max-width: 550px;
    max-height: 550px;
    height: auto;
    width: auto;
}

/* .carousel-inner > .item > img { */
.img {
    position: absolute;
    top: 0;
    left: 0;
    /* min-width: 100%;
    height: 500px; */
    height: auto;
    width: 100%;
}

#section {
    position:center;
}